In [1]:
# this is the library that we are using for showing
# and manipulating data
import pandas as pd

In [22]:
# opens the csv into python and assigns it to the variable "data"
# note that in this case, transactions.csv is in the folder "Data"
data = pd.read_csv('Data/transactions.csv')

In [23]:
# takes a peak at the top few columns
# the integer indicates how many rows you want to display
# note that the first row's index is 0
data.head(6)

,Unnamed: 0,payer,receiver,tran_text,Unnamed: 7,Date,dow
0,0,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,9c044a510cd7333bda6da6a2a364372974a0a8a573ac3f...,:Italy:,NaN,2019-01-21,Monday
1,1,f0bf2b3ec1598e6ab6ef15ea0251328ca3731e237bdb49...,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,Heroics,NaN,2019-01-19,Saturday
2,2,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,523c406e16c2856eefb065c2ace781a81a608b6e826ca4...,To regain Kosovo,NaN,2019-01-18,Friday
3,3,f0bf2b3ec1598e6ab6ef15ea0251328ca3731e237bdb49...,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,Reading at a club,NaN,2019-01-18,Friday
4,4,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,f0bf2b3ec1598e6ab6ef15ea0251328ca3731e237bdb49...,For the Culture,NaN,2019-01-17,Thursday
5,5,abacbefabc833a96597289665268d99e58ee1b2e4550dd...,9c044a510cd7333bda6da6a2a364372974a0a8a573ac3f...,Man with the plan,NaN,2019-01-15,Tuesday

In [24]:
# shows the information of the csv file
# 2147258 entries: indicates the number of rows
# the most important to keep in mind is the 
# memory usage, which is very large
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2147258 entries, 0 to 2147257
Data columns (total 7 columns):
Unnamed: 0    int64
payer         object
receiver      object
tran_text     object
Unnamed: 7    float64
Date          object
dow           object
dtypes: float64(1), int64(1), object(5)
memory usage: 114.7+ MB

In [11]:
# note that there are two columns: 'Unnamed: 0' and 'Unnamed: 7'
# that do not say anything important

# so we want to drop the columns
# data.drop takes in a list of columns and the axis

# axis of 1 means the columns
# axis of 1 refers to the rows
data = data.drop(['Unnamed: 0', 'Unnamed: 7'], axis=1)

In [12]:
# next we want to convert the column "Date" to a datetime
# we mainly want to do this for efficiency reasons
data['Date'] = pd.to_datetime(data['Date'])

In [18]:
# next we want to be able to see the text of the csv file
# so we index data by its column "tran_text"
data['tran_text']

0                                          :Italy:
1                                          Heroics
2                                 To regain Kosovo
3                                Reading at a club
4                                  For the Culture
5                                Man with the plan
6                                            Movie
7                                    Irish delight
8                                     :wine_glass:
9                                   Biryani galore
10                                 Testing reasons
11                                        yehdodnw
12                                    GiVe Me FoDd
13                                   Carbohydrates
14                                       Hnxodnnxj
15                                    Boiled meats
16                                           Movie
17                      walk a flock a ! thank u !
18                                      Snail Thai
19                                               E
20                                            No u
21                                           Tenga
22                                           Venom
23                                   :South_Korea:
24         Why isnt venmo used as social media?!?!
25                                       Anra Bday
26                                           Food!
27                                     Bday dinner
28                                            Food
29                    Somber religious meditation.
                            ...
2147228                                    Shaptak
2147229                                  All of it
2147230                                     :taxi:
2147231                                 Toki mochi
2147232                                         Za
2147233                                  Bus + tax
2147234                                     Ozuuuu
2147235                            Firehouse sammy
2147236                     Sonshcuduajamsocinvdms
2147237                                    Blartal
2147238                                   :cookie:
2147239                              Hey hey ho ho
2147240                                        Zah
2147241                                     Hostel
2147242                                   Plastics
2147243                                   Kat kora
2147244                        It doesn't matter""
2147245                                   sandwich
2147246                                   :monkey:
2147247                                        Car
2147248                        :last_quarter_moon:
2147249                                  anguished
2147250                                     :boar:
2147251                                         Za
2147252                   Worst drink ive ever had
2147253                              The love boat
2147254                       :person_rowing_boat:
2147255                          Really bad omelet
2147256                                   King Dom
2147257                                 Ty TD bank
Name: tran_text, Length: 2147258, dtype: object

In [27]:
# to get a specific row of text, we can index it by a number
# the number corresponds to the row
data['tran_text'][17]

'walk a flock a ! thank u !'

In [28]:
"""
Some things to note:

A word that starts with : and ends with : is an emoji.
For example:
    :wine_glass:
    
Is an emoji for a wine glass.
"""

"""
Our next goals are to:

Find ways in which we can use the data available.
What insights can we extract?

Think of way to categorize the text.
Some starting categories are:
    school
    rides
    drugs

"""
print("")